@{
    
}
<div class="jumbotron">
    <h1>Welcome to our shop - Shopperini! </h1>
    <img src="~/Images/logo.png" alt="Site Logo" style="height:200px; width: 800px" />
    <p> </p>
    <p class="lead">Shopperini sells clothing for kids, women, men at affordable prices and good quality.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Items</h2>
        <p>
            Check the items details and add them to the cart
            <img src="~/Images/mannequin-312526_960_720.png" alt="Items Logo" style="height:100px; width: 100px" />
        </p>
        <p><a class="btn btn-default" href="~/Items">To items page &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Shopping carts</h2>
        <p>
            Check the list of shopping carts and details about each shopping cart
            <br />
            <img src="~/Images/shopping-3225130_1280.png" alt="Cart Logo" style="height:100px; width: 100px" />
        </p>
        <p><a class="btn btn-default" href="~/ShoppingCarts">To carts &raquo;</a></p>
    </div>

</div>